@import '../../assets/scss/colors';
.ProfilePage {
	background-color: $primary-dark;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.875rem;
	@media (max-width: 47.9375rem) {
		grid-template-columns: 1fr;
	}
	.Profile {
		margin: 1.875rem 0 1.875rem 1.875rem;
		@media (max-width: 47.9375rem) {
			margin: 0.75rem;
		}
	}
	.Messages {
		margin: 1.875rem 1.875rem 1.875rem 0;
		@media (max-width: 47.9375rem) {
			margin: 0.75rem;
		}
	}
}
