@import '../../assets/scss/mixins';
.Home {
	@extend %logForm;
	@media (min-width: 48rem) {
		grid-template-areas: 'img img' 'head head' 'btn1 btn2' 'about about';
		grid-column-gap: 2rem;
		img {
			grid-area: img;
		}
		h1 {
			grid-area: head;
		}
		a {
			grid-area: btn2;
			&:first-of-type {
				grid-area: btn1;
			}
		}
		h2 {
			grid-area: about;
			a {
				color: $light;
				text-decoration: underline;
				@include px(0);
			}
		}
	}
}
