$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-font-size: 1.125rem;
$input-font-weight: 400;
$input-line-height: 1.5;

$input-bg: $primary-dark;
// $input-disabled-bg: $gray-200 !default;

$input-color: $primary-lighten;
$input-border-color: $primary-dark;

$input-placeholder-color: $primary;
