@mixin btnBg($color) {
	background-color: $color;
	&:hover {
		background-color: darken($color: $color, $amount: 20);
	}
}
@mixin py($pad) {
	padding-top: $pad;
	padding-bottom: $pad;
}
@mixin px($pad) {
	padding-left: $pad;
	padding-right: $pad;
}
%logForm {
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
		@media (max-width: 47.9375rem) {
			max-width: 12.625rem;
		}
	}
	h1 {
		text-align: center;
		max-width: 26.875rem;
		margin-bottom: 2rem;
		@media (max-width: 47.9375rem) {
			font-size: 2.5rem;
		}
	}
	a {
		&:nth-of-type(n + 2) {
			margin-left: 2rem;
			@media (max-width: 47.9375rem) {
				margin-left: 0;
				button {
					margin-top: 1.25rem;
				}
			}
		}
		button {
			min-width: 12.5rem;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			text-align: center;
		}
	}
}
