@import '../../assets/scss/colors';

.Header {
	.navbar {
		.navbar-collapse {
			&.show {
				@media (max-width: 47.9375rem) {
					height: 100vh;
					display: flex;
				}
			}
			transition: all 0.25s ease;
		}
		.navbar-nav {
			margin-left: auto;
			@media (max-width: 47.9375rem) {
				margin-right: auto;
			}
			.nav-link {
				@media (max-width: 47.9375rem) {
					font-size: 2.25rem;
					color: $light;
				}
			}
		}
	}
}
