@import '../../assets/scss/colors';
.AddPokemon {
	.Autocomplete {
		width: 100%;
		position: relative;
		display: inline-block;
		> div {
			width: 100%;
		}
		input {
			display: block;
			width: 100%;
			height: calc(1.5em + 1rem + 2px);
			padding: 0.375rem 0.75rem;
			padding-left: 1.125rem;
			font-weight: 400;
			line-height: 1.5;
			border-radius: 0.25rem;
			font-size: 1.125rem;
			background-color: $primary-dark;
			color: $primary;
			border: none;
			// transition: border-color 0.15s ease-in-out,
			// 	box-shadow 0.15s ease-in-out;
			// decided to not do background image at the current time - saving for later
			// background-clip: padding-box;
			// background-size: contain;
			// background-repeat: no-repeat;
			// padding-left: 3rem;
			// background-origin: content-box;
			// background-position-x: -17%;
			&:focus {
				color: $dark;
				background-color: $light;
				border-color: $primary-light;
				outline: 0;
				box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			}
		}
		.dropdown {
			z-index: 1;
			width: 100%;
			padding: 0;
			text-align: left;
			max-height: 280px;
			overflow: hidden;
			overflow-y: auto;
			background-color: $primary-dark;
			border-top: none;
			position: absolute;
			.item {
				display: block;
				cursor: pointer;
				font-size: 14px;
				padding: 15px;
				&.selected-item {
					background-color: $primary-lighten;
					color: $light;
				}
				&:hover {
					background-color: $primary-lighten;
					color: $light;
				}
			}
		}
	}
	.level-iv-shiny {
		.FormControl {
			.form-group {
				display: flex;
				label {
					width: 70px;
					text-align: right;
					background: #545454;
					padding: 9px 9px 9px 0;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					height: 38px;
				}
				input {
					width: 66px;
					height: 38px;
				}
			}
		}
	}

	select.form-control,
	input {
		&:disabled {
			opacity: 50%;
		}
	}
	select.Form-Control {
		appearance: none;
	}
	label,
	span {
		color: $light;
	}
}
