@import '../../assets/scss/colors';
.Chat {
	width: 21.4375rem;
	border-radius: 0.625rem;
	padding: 1.25rem;
	background-color: $light;
	p {
		background-color: grey;
		padding: 1rem;
		border-radius: 0.625rem;
		width: 12.8125rem;
		margin-left: auto;
		&.user {
			background-color: $primary-dark;
			margin-left: 0;
		}
	}
}
