@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';

.Messages {
	@include py(0.3125rem);
	@include px(2.5rem);
	background-color: $primary;
	color: $light;
	border-radius: 0.625rem;
	h1 {
		margin-bottom: 2rem;
	}
	.User {
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
		padding: 0.5rem 0.975rem;
		border-radius: 0.625rem;
		&.chat-active {
			background-color: $primary-light;
		}
		img {
			width: 40px;
			height: 40px;
		}
		p {
			margin-left: 0.5rem;
		}
	}
}
